%% vim: ft=erlang
{erl_opts,
  [
    debug_info,
    {fail_on_warning, false},
    {parse_transform, lager_transform},
    {parse_transform, whiskey4cowboy}
]}.

{deps_dir, "lib"}.

{deps, [
    {lager,         ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.0"}}}
    ,{cowboy,       ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "0.10.0"}}}
    ,{epgsql,       ".*", {git, "https://github.com/epgsql/epgsql.git", "HEAD"}}
    ,{poolboy,      ".*", {git, "https://github.com/devinus/poolboy", "HEAD"}}
    ,{whiskey4cowboy,".*",{git, "https://github.com/koctep/whiskey4cowboy", "HEAD"}}
    ,{jsxn,         ".*", {git, "https://github.com/talentdeficit/jsxn", "HEAD"}}
]}.
