%% vim: ft=erlang
{erl_opts,
  [
    debug_info,
    fail_on_warning,
    {parse_transform, lager_transform}
]}.

{deps_dir, "lib"}.

{deps, [
    {lager,         ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
    {sync,          ".*", {git, "git://github.com/rustyio/sync.git", "HEAD"}}
]}.
