%% vim: ft=erlang

[{lager, [
      {colored, true},
      {error_logger_redirect, false},
      {handlers, [
          {lager_console_backend, [warning, {lager_default_formatter, [
                  date, " ",
                  time, " ",
%                  node, " ",
%                  pid, " ",
                  module, ":", function, " ",
                  color,
                  severity, " ",
                  message,
                  "\033[0m\n"
          ]}]}
          ,{lager_file_backend, [{file, "log/trace.log"}, {level, none},
                                 {size, 1099511627776}, {date, "$D0"}, {count, 2}
                                ]}
          ,{lager_file_backend, [{file, "log/admin.log"}, {level, none},
                                 {size, 1099511627776}, {date, "$D0"}, {count, 2}
                                ]}
          ,{lager_file_backend, [{file, "log/common.log"}, {level, none},
                                 {size, 1099511627776}, {date, "$D0"}, {count, 2}
                                ]}
          ,{lager_file_backend, [{file, "log/ni.log"}, {level, none},
                                 {size, 1099511627776}, {date, "$D0"}, {count, 2}
                                ]}

      ]},
      {traces, [
                {lager_console_backend, [{not_implemented, true}], debug}
                ,{{lager_file_backend, "log/ni.log"}, [{not_implemented, true}], debug}
                ,{{lager_file_backend, "log/admin.log"}, [{admin, true}], debug}
                ,{{lager_file_backend, "log/common.log"}, [{admin, false}], debug}
               ]}
]}].
