%% vim: ft=erlang

[{lager, [
      {colored, true},
      {handlers, [
          {lager_console_backend, [debug, {lager_default_formatter, [
                  date, " ",
                  time, " ",
                  node, " ",
                  pid, " ",
                  module, ":", function, " ",
                  color,
                  severity, " ",
                  message,
                  "\033[0m\n"
          ]}]}
      ]}
]}].
